:root {
    --pink: #ff8686ad;
    --ligtblue: #c2e2fd;

}

body {
    background-color: var(--ligtblue);
}

.back {
    /* background: rgb(254,231,234);
    background: linear-gradient(180deg, rgba(254,231,234,1) 39%, rgba(254,219,224,1) 64%, rgba(254,216,222,1) 69%, rgba(252,203,211,1) 95%); */
    /* background: rgb(247, 214, 224);
    background: linear-gradient(180deg, rgba(247, 214, 224, 1) 0%, rgba(237, 222, 239, 1) 51%, var(--ligtblue) 100%); */
    /* background: rgb(200, 229, 253);
    background: linear-gradient(0deg, var(--ligtblue) 0%, rgba(105, 143, 201, 0.5) 25%, rgba(44, 87, 167, 0.541) 50%, rgba(101, 139, 199, 0.5) 75%, var(--ligtblue) 100%); */
    background: rgb(200,229,253);
background: linear-gradient(0deg, var(--ligtblue) 0%, rgba(40,221,143,.5) 31%, rgba(44,167,120,0.4) 51%, rgba(40,221,143,.5) 69%, var(--ligtblue)  100%);
}

 .imgBack {
   /* background: rgb(247, 214, 224);
    background: linear-gradient(180deg, rgba(247, 214, 224, 1) 0%, rgba(243, 218, 232, 1) 100%);*/
    background: rgb(193,226,252);
    background: linear-gradient(180deg, rgba(193,226,252,1) 0%, rgba(162,225,230,1) 50%, rgba(133,224,209,1) 100%);
} 

h1 {
    color: #2c57a7;
}

li .nav-link:hover {
    background-color: #157ed4;
}

#noGlow {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.carouselButtons {
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@media screen and (min-width:767px) {
    .carouselButtons {
        justify-content: space-evenly;
        position: absolute;
        bottom: 3em;
    }
}

@media screen and (min-width:1000px) {
    .carouselButtons {
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        bottom: 3em;
        width: 10%;
    }

    #snobzGit {
        margin-top: 1em;
    }
}